.order-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      margin-bottom: 1px;
    }
    
    .order-summary {
      width: 89vw;
      background-color: #f8f8f8;
      border: 1px solid #ccc;
      padding: 20px;
      font-family: Arial, sans-serif;
    }
    
    .order-summary h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    .order-summary p {
      margin: 10px 0;
    }
    
    .order-summary strong {
      font-weight: bold;
    }
  
    .selling-type-left-btn{
      height: 49px;
      margin-right: 15px;
      outline: none;
      border: 0px;
      padding: 10px 26px;
      font-size: 1.2rem;
      font-weight: 600;
      border-radius: 1.2rem;
      color: #fff;
      box-shadow: 3px 6px 20px 0px #92d892;
      cursor: pointer;
      background: linear-gradient(270deg, #00d9a6, #92d892);
    }
    
    .selling-type-left-btn img{
       height: 20px;
       filter: invert(74%) sepia(13%) saturate(3006%) hue-rotate(553deg) brightness(145%) contrast(417%)
    }

    .no-order-container {
      font-size: larger;
      font-weight: 600;
    }