.pickup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 7rem;
}

.booking-image{
    height: 9rem;
    width: 11rem;
    filter: invert(74%) sepia(13%) saturate(2982%) hue-rotate(479deg) brightness(58%) contrast(417%);
}

.left-icon{
    height: 1rem;
}

.banner{
    font-size: 1.2rem;
    margin-bottom: -0.1rem;
    font-weight: 600;
}

.name-section{
    display: flex;
    flex-direction: column;
}

.intro-text{
    text-align: center;
    font-size: large;
}

.name-section input{
    width: 20rem;
    margin: 0.5rem 0rem;
    font-size: large;
    border: 0.1px solid gainsboro;
    padding: 6px;
    background: aliceblue;
    border-radius: 0.2rem;
    outline: none;
}

.btn-continue{
    outline: none;
    border: 0.1px solid black;
    padding: 0.4rem 0rem;
    border-radius: 0.2rem;
    color: #fff;
    font-size: large;
    font-weight: 600;
    border: 0px;
    box-shadow: 3px 6px 20px 0px #92d892;
    background: linear-gradient(270deg, #00d9a6, #92d892);
}

.selling-type{
    width: 20rem;
    padding: 5px;
    margin: 0.3rem 0rem;
}

.selling-type-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 24.5rem;
}

.selling-type-btn button {
    outline: none;
    border: 0px;
    padding: 5px;
}
.selling-type-left-btn {
    width: 10%;
}

.selling-type-right-btn {
    width: 71%;
}

.selling{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-address{
    width: 100%;
    padding-left: 10%;
}

.address{
    border: 1px solid black;
    width: 90%;
}

.address-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.date{
    width: 100%;
    border: 1px solid;
    /* margin-bottom: 1rem; */
    padding: 10px;
}