.pickup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.booking-image{
    height: 11rem;
    width: 14rem;
    filter: invert(74%) sepia(13%) saturate(2982%) hue-rotate(479deg) brightness(58%) contrast(417%);
}

.left-icon{
    height: 1rem;
}

.banner{
    font-size: 2rem;
    margin-bottom: -0.1rem;
    font-weight: 600;
}

.name-section{
    display: flex;
    flex-direction: column;
}

.intro-text{
    text-align: center;
    font-size: large;
}

.name-section input{
    width: 20rem;
    margin: 0.5rem 0rem;
    font-size: large;
    border: 0.5px solid black;
    padding: 6px;
    background: aliceblue;
    border-radius: 0.2rem;
    outline: none;
}